    .max_page{
        max-width:800px;
            }
   /*h1{*/
   /*    text-align:left;*/
   /*    margin-left:450px;*/
   /*    color:#1803080c;*/
   /*}*/
  
  #frm-userpass{
    margin-left:400px; 
    border:1px dashed;
    background-color:#f4fcfa;
    max-width:400px;
    height:300px;
    padding-bottom:20px;
    margin-bottom:50px;
 }
 #fieldset-login{
     max-width:300px;
     color:#820d2d;
     margin-left:20px;
 }
 #frm-userSignUp{
    margin-left:300px; 
    border:1px dashed;
    background-color:#f4fcfa;
    max-width:500px;
    height:500px;
    margin-bottom:30px;
 }
 #fieldset-signUp{
     max-width:400px;
     color:#820d2d;
     font-weight:bold;
     height:250px;
     margin-left:50px;
     margin-top:20px;
 }
 label{
     background-color:#f4fcfa;
     color:#820d2d;
     padding-right:10px;
     display: inline;
     text-align:left ;
     max-width:200px;
     font-weight:bold;
     margin-left:20px;
     }
 input{

     float:right;
     /*max-width:150px;*/
    }
 .other{
    margin-bottom:15px;
 }

   
    .btn-submit,a.btn-submit{
     background-color:#67d8c0;
     border-radius:5px!important;
     border-color:#67d8c0;
     color: rgb(253, 253, 253);
     padding:0.5em 0.8em;
     text-decoration:none ;
      }
    .btn-submit:hover,a.btn-submit:hover{
     background-color:#820d2d;
     border:none;
     transition:all 1s ease-in-out;  
     }
     #btn_logIn{
       margin-left:130px; 
       float:left;
       margin-bottom:55px;
       height:44px;
            
        }
        #btn_sign{
            float:right;
            margin-right:60px;
        }
     #btn_signUp{
         margin-right:200px;
         margin-top:70px;
        }
        
 .msg-valid{
     background-color:red;
 
 }

.errmessage{
  color:red;
  font-weight: bold;


}
div{
 padding-top:5px;
}
.div-message{
    margin:10px;
    display: none;
    background-color:white;
}
.error{
    font:0.5em sans-serif;
}
@media only screen and(max-width:768px)
{
    #frm-userpass{
      margin-left:100px;
    }
    #frm-userSignUp{
        margin-left:50px; 
    }

}
@media only screen and(max-width:480px){
    #frm-userpass{
        margin-left:0;
        width:450px;
        margin-bottom:50px;
     }
     label{
         width:10%;
         margin-left:20px;
        }
        input{
    
            float:left;
        width: 20%;
           }

}